.video-player {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.video-player video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: transparent;
}
